{{#section 'css'}}

{{!-- <link rel="stylesheet" href="/stylesheets/cart.css"> --}}
{{/section}}
<style>
    .link{
        color: black;
        text-decoration: none;
    }
</style>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Họ và tên</th>
      <th scope="col">Giới tính</th>
      <th scope="col">Ngày sinh</th>
      <th scope="col">SĐT</th>
      <th scope="col">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>test1</td>
      <td>Nguyễn Văn A</td>
      <td>Nam</td>
      <td>09/12/1999</td>
      <td>0123456789</td>
      <td>
          <a href="/user/edit/1" class="link">Sửa</a>
          <a href="#" class="link">Xóa</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>test1</td>
      <td>Nguyễn Văn A</td>
      <td>Nam</td>
      <td>09/12/1999</td>
      <td>0123456789</td>
      <td>
          <a href="/user/edit/2" class="link">Sửa</a>
          <a href="#" class="link">Xóa</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>test1</td>
      <td>Nguyễn Văn A</td>
      <td>Nam</td>
      <td>09/12/1999</td>
      <td>0123456789</td>
      <td>
          <a href="/user/edit/3" class="link">Sửa</a>
          <a href="#" class="link">Xóa</a>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>test1</td>
      <td>Nguyễn Văn A</td>
      <td>Nam</td>
      <td>09/12/1999</td>
      <td>0123456789</td>
      <td>
          <a href="/user/edit/4" class="link">Sửa</a>
          <a href="#" class="link">Xóa</a>
      </td>
    </tr>
  </tbody>
</table>